.config/
.local/
node_modules/
dist/
.cache/node_modules/
build/
dist/
coverage/
.DS_Store


!.env.example

*.jks
keystore.base64
*.jks
keystore.base64
.gemini/
.codeoss/
.gradle/
.npm/
.gemini/extensions/vertex
.gemini/history/code-oss-for-cloud-shell
